html, body {
	background-color: #A55;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main-container {
	min-height: 100vh;
	padding: 0 25%;
}

#center-column {
	background-color: #0002;
	width: 100%;
	height: 100%;
	padding: 3% 5% 2em 5%;
	text-align: center;
}

#introduction {
	border-bottom: 1px dashed black;
	padding-bottom: 1em;
	text-align: left;
}

#introduction ul ul {
	padding-left: 1em;
}

#projects-introduction {
	margin-top: 1em;
}

#projects {
	display: grid;
	column-gap: 3em;
	row-gap: 3em;
	grid-template-columns: repeat(auto-fit, 15em);
	grid-auto-rows: 20em;
	justify-content: center;

	margin-top: 2%;
	padding: 0 5%;
}

.project {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;

	background-color: #0002;
	box-shadow: 1px 1px 5px black;
	color: black;
	text-decoration: none;
}

.project:hover {
	transition: box-shadow 0.1s;
	box-shadow: 5px 5px 20px black;
}

.project .title {
	font-size: 1.3em;
}

.project .description {
	text-align: justify;
	margin-top: 2em;
	padding: 0 1.5em;
}

.project .technologies {
	margin-top: 1em;
}

.project .technologies ul {
	font-size: 0.9em;
	margin-top: 0.5em;
	padding-left: 1em;
}

.project .padding {
	visibility: hidden;
}

#contact-section {
	margin-top: 3%;
	border-top: 1px dashed black;
	text-align: center;
}

#contact-grid {
	display: inline-grid;
	grid-template-columns: max-content max-content;
	grid-auto-rows: max-content;
}

#contact-grid a {
	text-decoration: none;
	color: black;
}

#contact-grid img {
	width: 2em;
	height: 2em;
}

.contact {
	display: inline-flex;
	align-items: center;
	text-align: left;
	margin-left: 1em;
}

@media all and (orientation: portrait) {
	#main-container {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.non-existent {
		display: none;
	}
}

